name: Auto Score

on:
  schedule:
    - cron: '0 17 * * *'  # UTC 17:00 (北京时间1:00)
  workflow_dispatch:

jobs:
  score:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run script
      env:
        MUSIC_U: ${{ secrets.MUSIC_U }}
        CSRF: ${{ secrets.CSRF }}
        NOTIFY_EMAIL: ${{ secrets.NOTIFY_EMAIL }}
        EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
        SMTP_PORT: ${{ secrets.SMTP_PORT }}
        WAIT_TIME_MIN: ${{ secrets.WAIT_TIME_MIN }}
        WAIT_TIME_MAX: ${{ secrets.WAIT_TIME_MAX }}
      run: python main.py 